extends jade/template
block CSS
  title #{simpleTitle}微信积分系统
  link(rel="stylesheet" href="css/public.css")
  link(rel="stylesheet" href="css/index.css")
block content
  #indexheader
    #userPic(onclick="hrefTo('userInfo')")
    p#username(onclick="hrefTo('userInfo')") username
    p(onclick="hrefTo('pointsDetail')") 积分:
      label#userPoints 1000
  #content
    #bgIndexAdd
    #funcTitle 功能
    #funcList.weui-grids
      each item in funcList
        a.weui-grid(href="javascript:hrefTo('#{item.href}');")
          .weui-grid__icon
            img(src="img/#{item.img}")
          label.weui-grid__label #{item.name}
  footer.weui-footer.weui-footer_fixed-bottom
    span.weui-footer__text Copyright &copy; 2015-2017 #{allTitle}
block JS
  script(src="js/public.js")
  script(src="js/index.js")